.contaier-fluid{
    display: flex;
    flex-direction: column;
    background-color: #261E83;
    text-align: center;
    color: white;
}
.mission-container{
   
}
.row{
    justify-content: center;
    align-items: center;
}
.left-img{
    height: 27vh;
    border-radius: 2%;
}