<div class="container-fluid">
    <div class="header px-2">
        <h1>Destinations</h1>
        <hr class="mt-0" style="color: rgb(226, 226, 226);"/>
    </div>
    <div class="country-container">
        <div class="row">
            <div class="col-md-3 mb-4" *ngFor="let item of countries">
                <div class="card"> 
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1535025639604-9a804c092faa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cb0ceb620f241feb2f859e273634393&auto=format&fit=crop&w=500&q=80" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">
                        {{item.description}}
                      </p>
                     <button class="btn btn-act">View Details</button>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</div>
