<div class="container-fluid">
    <div class="header px-2 mt-5">
        <h1>Destinations</h1>
        <hr class="mt-0" style="color: rgb(192, 192, 192);"/>
    </div>
    <div class="country-container">
        <div class="row">
            <div class="col-md-3 mb-4" *ngFor="let item of countries">
                <div class="card"> 
                    <img class="card-img-top" [src]="item.url" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p class="card-text">
                        {{item.description}}
                      </p>
                     <button class="btn btn-act" (click)="gotoDetails(item.id)">View Details</button>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</div>
