.navbar{
    background-color: #281F88;
}
.logo{
    width: 6vh;
}
#navbarNav{
    justify-content: flex-end;
    
}
.nav-link{
    color:white
}
.nav-link.active{
    color: white;
    font-weight: bold;
}
.log{
    color: white;
    border: 1px solid white;
}
.log:hover{
    background-color: #EFA136;
    color:black;
    border-color: #EFA136;
}
.row{
    width: 100%;
}
.navbar-collapse{
    justify-content: flex-end;
}
@media (min-width: 992px){
.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
}
.nav-link{
    cursor: pointer;
}
.active{
    border-bottom: 1px solid white;
}
.user-icon{
    width: 25px;
    height: auto;
    cursor: pointer;
}
.container-fluid{
    justify-content: space-between;
}