<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
                    <img src="/assets/images/edu-logo.jpg" alt="" class="d-inline-block align-text-top logo">
                  </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex" style="justify-content: flex-end; align-items: center;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="float: right;">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" (click)="navigateAndScroll('about-us')" routerLinkActive="active">About Us</a>
                      </li>
                      
                      <li class="nav-item">
                        <a class="nav-link" (click)="navigateAndScroll('services')" routerLinkActive="active">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" (click)="navigateAndScroll('destinations')" routerLinkActive="active">Destinations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateAndScroll('testimonials')" routerLinkActive="active">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="navigateAndScroll('faqs')"  routerLinkActive="active">FAQs</a>
                    </li>
                    </ul>
                   
                  </div>
                  <div class="btn-class">
                    <button class="btn log mx-2" type="submit" (click)="gotoLogin()">Login</button>
                  </div>
                  <div class="user-icon-container">
                    <img class="user-icon" src="/assets/images/user.png">
                  </div>
                
            
            </div>
        </div>
     
       </div>
  </nav>
